* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff9952;
}

header {
    display: flex;
}

/* .logo {
    border: 1px solid red;
} */

header > img {
    width: 25%;
}

h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    text-align: center;
    color: black;
}

article > img {
    width: 100%;
    object-fit: cover;
    border: 3px solid rgb(61, 168, 255);
}

.tm_trigger {
    position: relative;
    display: flex;
    align-items: center;
    background: #dfdddd;
    border-radius: 8px 8px 0 0;
}

.tm_trigger label{
    float: left;
    padding: 12px 15px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-out;
    font-weight: 700;
    min-width: 150px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.tm_trigger:after,
.tm_trigger:before{
    content: "";
    display: table;
}
.tm_trigger:after{
    clear:both;
}

.tm_trigger strong{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 150px;
    background-color: #ff9952;
    z-index: 1;
    border-radius: 8px 8px 0 0 ;
    transition: all 0.5s cubic-bezier(0.88,1.81,0.48,-0.01);
}

.tm_container input:nth-child(1):checked ~ .tm_trigger strong{ left: 0 }
.tm_container input:nth-child(2):checked ~ .tm_trigger strong{ left: 150px }
.tm_container input:nth-child(3):checked ~ .tm_trigger strong{ left: 300px }
.tm_container input:nth-child(4):checked ~ .tm_trigger strong{ left: 450px }
.tm_container input:nth-child(5):checked ~ .tm_trigger strong{ left: 600px }
.tm_container input:nth-child(6):checked ~ .tm_trigger strong{ left: 750px }
.tm_trigger label:nth-child(1):hover ~ strong{ left: 0 !important }
.tm_trigger label:nth-child(2):hover ~ strong{ left: 150px !important }
.tm_trigger label:nth-child(3):hover ~ strong{ left: 300px !important }
.tm_trigger label:nth-child(4):hover ~ strong{ left: 450px !important }
.tm_trigger label:nth-child(5):hover ~ strong{ left: 600px !important }
.tm_trigger label:nth-child(6):hover ~ strong{ left: 750px !important }

.tm_container input {
    left: 0;
    top: 0;
    opacity: 0; 
}

.tm_content-area¨{}
.tm_content{
    padding: 20px;
    background:#ff9952;
    height: 100%;
    border-radius: 0 0 8px 8px;
    line-height: 1.5;
    display: none;
}
.tm_content h2{
    margin:0 0 10px;
}
.tm_content p{
    margin-top: 0;
}

.tm_container input:nth-child(1):checked ~ .tm_content_area .tm_content:nth-child(1){
    display: block;
}
.tm_container input:nth-child(2):checked ~ .tm_content_area .tm_content:nth-child(2){
    display: block;
}
.tm_container input:nth-child(3):checked ~ .tm_content_area .tm_content:nth-child(3){
    display: block;
}
.tm_container input:nth-child(4):checked ~ .tm_content_area .tm_content:nth-child(4){
    display: block;
}
.tm_container input:nth-child(5):checked ~ .tm_content_area .tm_content:nth-child(5){
    display: block;
}
.tm_container input:nth-child(6):checked ~ .tm_content_area .tm_content:nth-child(6){
    display: block;
}

.events {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.events-image img {
    width: 150px;
    position: relative;
    left: 55vw;
}

.about-list {
    font-family: Arial, Helvetica, sans-serif;
}

.contactUs {
    font-family: Arial, Helvetica, sans-serif;
}

.contactUs img {
    width: 150px;
    position: relative;
    left: 55vw;
    bottom: 100px;
}

.rules {
    font-family: Arial, Helvetica, sans-serif;
    font-size:120%;
}

.rules em {
    font-size: 150%;
}

.rules_h2 {
    margin-left: 20px;
}
.rules_h3 {
    margin-left: 30px;
}

.rules_h4 {
    margin-left: 40px;
}
.rules_h5 {
    margin-left: 50px;
}

.rules_h6 {
    margin-left: 60px;
}

.rules_h7 {
    margin-left: 70px;
}

.table_1 table {
    width: 50%;
    border: 1px solid black;
}
.table_1 th, td {
    width: 25%;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #dfdddd;
}

.table_2 table {
    width: 50%;
    border: 1px solid black;
}
.table_2 th, td {
    width: 25%;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #dfdddd;
}
.table_information_1 table {
    border: 1px solid black;
}

.table_information_1 th, td {
    width: 350px;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #dfdddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table_information_2 table {
    border: 1px solid black;
}

.table_information_2 th, td {
    width: 350px;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #dfdddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.table_information_3 table {
    border: 1px solid black;
}

.table_information_3 th, td {
    width: 350px;
    text-align: left;
    vertical-align: center;
    border: 1px solid black;
    border-spacing: 0;
    background-color: #dfdddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tables {
    display: flex;
    width: 1300px;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 20px;
}

.information p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    
    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

#full-name {
    opacity: 1;
}

.legacy-form-row {
    border: none;
}

#gender-1 {
    opacity: 1;
}

#gender-2 {
    opacity: 1;
}

#email {
    opacity: 1;
}

.form-row select {
    width: 20%;
    padding: 5px;
}

.form-row {
    font-family: Arial, Helvetica, sans-serif;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
}
  
  .form-row button:hover {
    background-color: #76AEED;
}
  
  .form-row button:active {
    background-color: #407FC7;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

/* Tablet Styles */
@media only screen and (min-width: 420px) and (max-width: 960px) {
    article > img {
        height: 300px;
    }

    .links {
        font-size: 150%;
    }

    .events {
        font-size: 150%;
        height: 300px;
        margin-left: 25px;
    }

    .events-image img {
        width: 350px;
        position: relative;
        left: 50vw;
        bottom: 290px;
    }

    .about-list {
        font-size: 150%;
        height: 300px;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 19px;
    }

    .contactUs {
        font-size: 150%;
        height: 300px;
        margin-left: 25px; 
        margin-top: 15px;
        margin-right: 30px;
    }

    .contactUs > img {
        display: flex;
        margin-top: 10px;
        width: 50vw;
    }
    
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    header > img {
        width: 300px;
    }

    article > img {
        height: 500px;
    }

    h1 {
        font-size: 6vw;
    }

    .events {
        font-size: 180%;
        height: 300px;
        margin-left: 50px;
        margin-top: 50px;
    }

    .events-image img {
        width: 40vw;
        position: relative;
        left: 50vw;
        bottom: 300px;
    }

    .about-list {
        font-size: 180%;
        height: 300px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top:50px;
    }
    
    .contactUs {
        font-size: 180%;
        height: 300px;
        margin-left: 50px; 
        margin-top: 50px;
        margin-right: 50px;
    }

    .contactUs > img {
        display: flex;
        margin-top: 10px;
        width: 25vw;
    }

}